<app-sidebar></app-sidebar>
<main>
    <div class="container">
        <header class="card-header">
            <span class="icon income-icon"><mat-icon>attach_money</mat-icon></span>
            <h2>Income</h2>
        </header>
        <form [formGroup]="incomeForm" (ngSubmit)="onSubmit()" class="input-form">
            <div class="form-group">
                <select formControlName="month" id="month" class="form-control" (change)="onChange($event)">
                    <option value="" disabled>Select Month</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                </select>
            </div>
            <div class="form-group">
            </div>
            <div class="total-income">
                Total Income of {{ selectedMonth }}: {{ calculatedTotalIncome(selectedMonth) | currency:'USD':true }}
            </div>
            <div class="form-group">
                <label for="investments">Investments</label>
                <select formControlName="investments" id="investments" class="form-control"
                        [class.disabled-dropdown]="!monthSelected"
                >
                    <option value="" disabled>Select Investments</option>
                    <option value="Bonds">Bonds</option>
                    <option value="ETFs">ETFs</option>
                    <option value="Mutual Funds">Mutual Funds</option>
                    <option value="Real Estate">Real Estate</option>
                    <option value="Stocks">Stocks</option>
                </select>
            </div>
            <div class="form-group">
                <label for="source">Source of Income</label>
                <select formControlName="source" id="source" class="form-control"
                        [class.disabled-dropdown]="!monthSelected"
                >
                    <option value="" disabled>Select Source</option>
                    <option value="Salary">Salary</option>
                    <option value="Bonus">Bonus</option>
                    <option value="Dividends">Dividends</option>
                    <option value="Interest">Interest</option>
                    <option value="Rental Income">Rental Income</option>
                </select>
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input
                    type="number"  formControlName="amount" id="amount" class="form-control"
                    placeholder="Enter amount" [class.disabled-dropdown]="!monthSelected"
                >
            </div>
            <div class="form-group">   
            </div>
            <div class="form-group">   
            </div>
            <button type="submit" (click)="onSubmit()"
                    [class.disabled-button]="!monthSelected"
            >
                Add
            </button>
        </form>

        <h3>Income of {{ selectedMonth }}</h3>
        <table>
            <thead>
                <tr>
                    <th>Source of Income</th>
                    <th>Amount</th>
                    <th>Investments</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let income of getFilteredIncomes()">
                    <td>{{ income.source }}</td>
                    <td>{{ income.amount | currency:'USD':true }}</td>
                    <td>{{ income.investments }}</td>
                </tr>
            </tbody>
        </table>
        <div class="input-form">
            <button (click)="onBack()">Back</button>
            <div class="form-group">   
            </div>
            <button (click)="saveForm()">Save</button>
        </div>
    </div>
</main>
